<div id="<%= dom_id booking %>">
  <% booking.passengers.each do |passenger| %>
    <p>
      <strong>Passenger:</strong>
      <%= passenger.name %>
      <br>
      <strong>Number:</strong>
      <%= passenger.number %>
    </p>
    <br>
    <br>
    <br>
  <% end %>
  <p>
    <strong>Flight:</strong>
    <br>
    <strong>Departure:</strong>
    <%= booking.flight.departure_airport.name %>
    <br>
    <strong>Arrival:</strong>
    <%= booking.flight.arrival_airport.name %>
    <br>
    <%= booking.flight.departure_time %>
    <br>
    <br>
    <br>
  </p>

</div>
