<%= form_with(model: booking, local: true) do |f| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :flight_id %>

  <div>
    <strong>Departure Airport:</strong> <%= @flight.departure_airport_name %> <br>
    <strong>Arrival Airport:</strong> <%= @flight.arrival_airport_name %> <br>
    <strong>Departure Time:</strong> <%= @flight.departure_time_str %> <br>
  </div>

  <h3>Passengers</h3>
  <div data-controller="passenger">
    <div data-passenger-target="passenger">
      <%= f.fields_for :passengers do |p| %>
        <%= render 'passenger_fields', f: p %>
      <% end %>
    </div>
    <button data-action="click->passenger#addPassenger">Add passenger</button>

    <template data-passenger-target="template">
      <%= f.fields_for :passengers, Passenger.new, child_index: 'TEMPLATE_RECORD' do |p| %>
        <%= render 'passenger_fields', f: p %>
      <% end %>
    </template>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>